<div class="container">
<h3>Book Details</h3>

<p>Book Title: <%= @book.title %> </p>
<p>Book Code: <%= @book.id %> </p>
<p>Book Price: <%= @book.price %> </p>
<p>Publisher: <%= @book.publisher %> </p>
<p>Description: <%= @book.description %> </p>

</div>