<h1>Novels#show</h1>
<div class="container">
<h3>Novel Details</h3>

<p>Title: <%= @novel.title %> </p>
<p>Genre: <%= @novel.genre_id %> </p>
<p>Author: <%= @novel.author_id %> </p>
<p>Publisher: <%= @novel.publisher_id %> </p>
<p>isbn: <%= @novel.isbn %> </p>
<p>Price: <%= @novel.price %> </p>
<p>Publication: <%= @novel.publication %> </p>
<p>Format: <%= @novel.format %> </p>
<p>Description: <%= @novel.description %> </p>
<p>Pages: <%= @novel.pages %> </p>



</div>
